#board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0;
    width: 360px;
    height: 360px;
    font-size: 60px;
}

#board div {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 120px;
    height: 120px;
}

#board :nth-child(2) {
    border: 1px solid #000;
    border-top: none;
    border-bottom: none;
}
#board :nth-child(4) {
    border: 1px solid #000;
    border-left: none;
    border-right: none;
}
#board :nth-child(5) {
    border: 1px solid #000;
}
#board :nth-child(6) {
        border: 1px solid #000;
        border-right: none;
        border-left: none;
}
#board :nth-child(8) {
    border: 1px solid #000;
    border-bottom: none;
    border-top: none;
}