header {
  background-color: #ccc;
}

header button {
  margin: 0.2rem;
  background-color: transparent;
  border: none;
  font-size: 1.6rem;
  color: #555;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul.hide {
  display: none;
}

nav ul li a {
  display: block;
  padding: 0.8rem;
  text-decoration: none;
  color: #000;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}

nav ul li.active a {
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
}

nav ul li a:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

footer {
  background-color: #bbb;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
