@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&family=PT+Serif:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500;800&display=swap");

html {
  font-family: "PT Serif", serif;
}

h1 {
  font-family: "Raleway", sans-serif;
  padding-left: 1em;
  color: #57568d;
  font-size: 130%;
}

h2 {
  font-family: "Raleway", sans-serif;
  padding-left: 1em;
  color: #57568d;
  font-size: 175%;
}

h3 {
  font-family: "Raleway", sans-serif;
  padding-left: 1em;
  color: #57568d;
  font-size: 150%;
}

header {
  /* background-color: #ccc; */
  display: grid;
  grid-template-columns: 60px 1fr 50px 10px;
  align-items: end;
}

header img {
  display: block;
  width: 100%;
  max-width: 20em;
  margin: 0 auto;
}

header button {
  margin: 0.2rem;
  border: none;
  font-size: 1.6rem;
  color: #555;
  height: 45px;
  border-radius: 0.25em;
}

header div {
  text-align: center;
  padding-bottom: 0.75em;
}

nav {
  width: 100%;
  background: #06d6a0;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  /* background: orange;s */
}

nav ul.hide {
  display: none;
}

nav ul li a {
  display: block;
  padding: 0.8rem;
  text-decoration: none;
  color: #000;
}

nav ul li.active a {
  background-color: rgba(0, 0, 0, 0.1);
  /* color: #fff; */
}

nav ul li a:hover {
  background-color: rgba(0, 0, 0, 0.15);
}

footer {
  padding: 1em;
  background-color: #f2f2f2;
  display: grid;
  grid-template-columns: 1fr;
}

footer a {
  color: #007168;
}

footer a.map {
  text-align: center;
  padding: 1em;
}

footer a img {
  border: 1px solid #007168;
  max-width: 100%;
}

img.hero {
  width: 100%;
  height: 10em;
  object-fit: cover;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.sr-only {
  display: none;
}

#summary div,
#five-day,
article {
  margin: 1em;
}

#five-day ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding: 0;
}

#five-day ul li {
  list-style-type: none;
  text-align: center;
  border-right: 1px solid #ccc;
  font-size: 80%;
}

#five-day ul li:last-child {
  border-right: none;
}

#five-day ul li svg {
  width: 40%;
  margin: 1em;
}

article a,
article a:visited {
  color: #007168;
}

img.right {
  float: right;
  margin: 1em;
  border-radius: 0.25em;
}

#social {
  padding-left: 0.5em;
}

#social li {
  list-style-type: none;
  width: 2em;
  float: left;
  margin: 0.5em;
}

#social a:hover svg {
  fill: #666;
}

#dateToday {
  text-align: center;
}

#contactInfo {
  padding: 0 2em;
}
