@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@0;1&family=Montserrat&display=swap");

html,
body {
    font-family: "Libre Baskerville", Georgia, "Times New Roman", Times, serif;
    font-size: 16px;
    color: gold;
    text-align: center;

}

#next,
#back {
    padding: 1rem;
    margin: 1rem 1rem 1rem 0;
    background-color: gold;
    border: none;
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.4);
    color: #2a3640;
}

#next {
    margin-left: 1rem;
}

#next:hover,
#back:hover {
    background-color: #797c7e;
    color: white;
}

section {
    padding: 3%;
}

section:hover,
button:hover {
    cursor: pointer;
}

button:active {
    transform: scale(.85);
}

.hide {
    display: none;
}

h1 {
    color: #2a3640;
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    margin-top: 10px;
}

div.tradingCard {
    margin-left: auto;
    margin-right: auto;
    padding: 5%;

}

img {
    width: 85%;
    padding: 2%;
    margin-bottom: 2rem;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
}

section {
    background-color: #2a3640;
    padding-top: 0.5rem;
    margin: 0 0 1.2rem 0;
    box-shadow: 8px 8px 8px 0 rgba(0, 0, 0, 0.4);
}

@media only screen and (min-width: 35rem) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.2rem;
    }

    p {
        font-size: 0.8rem;
    }

    div.tradingCard {
        min-width: 35rem;
        margin-left: auto;
        margin-right: auto;
    }

    .tradingCard {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
    }
}

@media only screen and (min-width: 64rem) {
    h1 {
        font-size: 2.8rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1rem;
    }

    div.tradingCard {
        min-width: 64rem;
        max-width: 80%;
    }

    div.tradingCard {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
