/* I like this font better but it is too heavy for the constraints of this assignment, weighing in at about 300kb */
/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap"); */

/* Fonts imported from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&family=PT+Serif:wght@400;700&display=swap");

html {
  font-family: "PT Serif", serif;
}

body {
  max-width: 1200px;
  margin: 3rem auto;
}

header {
  border: 2px solid #667eea;
  border-radius: 1rem;
  padding: 1rem 1rem 1rem 3rem;
}

header h1 {
  font-family: "PT Sans", sans-serif;
  font-size: 450%;
  margin: 0;
}

header h2 {
  font-size: 250%;
  font-family: "PT Sans", sans-serif;
  margin: 0;
}

main {
  margin: 1rem auto;
  font-size: 125%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

section {
  background: #ddd;
  border-radius: 0.5rem;
  padding: 0.75rem;
}

section h3 {
  margin: 0.25rem auto;
  color: #333;
}

section img {
  margin-top: 1rem;
  max-width: 100%;
  width: 100%;
  border-radius: 0.25rem;
}

footer {
  border-radius: 1rem;
  padding: 1rem 1rem 1rem 3rem;
  background-color: #c3dafe;
  padding: 1rem;
  font-size: 150%;
  text-align: center;
}

li {
  margin-top: 1rem;
}

#updated-section {
  color: #4c51bf;
}
