@keyframes bike {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: -360px 0;
    }
}

@keyframes move {
    0% {
        transform: translate(-400px, 20px);
    }

    100% {
        transform: translate(400px, -20px);
    }
}

#bicycle:after {
    content: '';
    width: 90px;
    height: 92px;
    background-image: url(./images/bike-sprite.png);
    display: block;
    margin: auto;
    animation:
        .4s steps(4, end) infinite 0ms bike,
        3s linear infinite 0ms move;
    animation-play-state: running;
}

/* Code above copied and modified from https://www.sitepoint.com/premium/books/html5-css3-for-the-real-world-2nd-edition/read/8 */