/* I like this font better but it is too heavy for the constraints of this assignment, weighing in at about 300kb */
/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap"); */

/* Fonts imported from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&family=PT+Serif:wght@400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500;900&display=swap");

html {
  font-family: "PT Serif", serif;
}

body {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  width: 100%;
}

header h2 {
  width: 100%;
  text-align: center;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-size: 175%;
  font-weight: 900;
  color: #048a81;
  margin: 0;
  line-height: 1.5;
}

h2 {
  font-size: 125%;
  font-family: "Raleway", sans-serif;
  margin: 0;
  font-weight: 500;
  color: #8a89c0;
}

h3 {
  font-size: 115%;
  color: #000;
}

nav {
  background-color: #06d6a0;
  text-align: center;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
nav ul li a {
  display: block;
  color: #000;
  text-align: center;
  padding: 0.75rem;
  text-decoration: none;
  font-size: 0.95rem;
  border: 2px solid #06d6a0;
}

main {
  margin: 1rem auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

main p,
main li {
  font-size: 125%;
}

section {
  padding: 0.75rem;
}

section h3 {
  margin: 0.25rem auto;
}

section img {
  margin-top: 1rem;
  max-width: 100%;
  width: 100%;
  border-radius: 0.25rem;
}

hr {
  color: #000;
  width: 50%;
}

#logo {
  width: 100%;
}

.persona {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.sr-only {
  display: none;
  /* I'm experimenting with accessibility features */
}
