@media (min-width: 1400px) {
  body {
    max-width: 1200px;
    margin: 2rem auto;
  }

  #directory.gridview {
    grid-template-columns: 1fr 1fr 1fr;
  }

  #ads {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
