body {
  font-family: "Playfair Display";
  background-color: #efe9f4;
  padding: 1rem;
}

h1,
h2,
h3,
h4 {
  font-family: "Bebas Neue";
  color: #484d6d;
}

h1 {
  font-size: 400%;
}
h2 {
  font-size: 350%;
}

h3 {
  font-size: 250%;
}

h4 {
  font-size: 200%;
}

a {
  color: #57a773;
}

p,
li {
  font-size: 150%;
  line-height: 1.5;
}

#weather-alert {
  background-color: #ee6352;
  color: #fff;
  padding: 0.25rem 2rem 1rem;
}

#weather-alert h2 {
  font-size: 350%;
  color: #fff;
}

.hidden {
  display: none;
}

.sr-only {
  display: none;
}

img.hero {
  width: 60%;
  max-width: 200px;
}

#ads img {
  width: 20rem;
}
ul#social svg {
  width: 2rem;
}

#directory-toggle {
  display: none;
}

#directory {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

#directory div {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  padding: 1rem;
}

#directory div h3 {
  margin-top: 0;
}

#directory div a img {
  max-width: 20rem;
}

.event-name {
  font-weight: bold;
}

footer {
  margin-top: 3rem;
  background-color: #08b2e3;
  padding: 1rem;
}

footer h3 {
  margin-top: 0.5rem;
  color: #fff;
}

footer a {
  color: #fff;
}

#social {
  display: block;
}
#social li {
  list-style-type: none;
  float: left;
  margin: 0.5em;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.active a {
  background-color: rgba(0, 0, 0, 0.1);
}

nav ul.hide {
  display: none;
}

form fieldset {
  max-width: 30rem;
  font-size: 150%;
  margin: 0 auto;
}

form fieldset label {
  padding: 1rem;
  width: 100%;
  display: block;
}

form fieldset label span {
  display: inline-block;
  padding: 0.5rem;
  width: 15rem;
}

#join-the-chamber {
  padding: 1.5rem 2.5rem;
  font-size: 175%;
  margin: 0 auto;
  display: block;
  margin-top: 1rem;
}

#ads {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

#ads section {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  padding: 1rem;
}

#ads section h3 {
  margin-top: 0;
}

#ads section a img {
  max-width: 20rem;
}
