@media (min-width: 48em) {
  header button {
    display: none;
  }

  nav ul {
    display: flex;
  }

  nav ul li {
    flex: 1 1 100%;
    list-style-type: none;
  }

  nav ul li a {
    display: block;
    text-align: center;
    padding: 1rem;
    background-color: #3e8e5a;
    color: #fff;
  }

  nav ul li a:hover {
    background-color: rgba(87, 167, 115, 0.9);
    display: block;
    text-align: center;
  }

  nav ul.hide {
    display: flex;
  }

  #directory-toggle {
    display: block;
    float: right;
  }

  #directory.gridview {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  #directory.gridview div {
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    padding: 1rem;
  }

  #directory.gridview div h4 {
    margin-top: 0;
  }

  #directory.gridview div a img {
    max-width: 20rem;
  }

  #directory.listview div {
    display: grid;
    grid-template-columns: 2fr 1fr 3fr;
  }

  #directory.listview div img {
    max-width: 30rem;
  }

  section#weather {
    float: right;
  }

  #ads {
    grid-template-columns: 1fr 1fr;
  }
}
