@media (min-width: 48em) {
  body {
    padding: 1rem;
  }

  header button {
    display: none;
  }

  nav ul {
    display: flex;
  }

  nav ul li {
    flex: 1 1 100%;
    list-style-type: none;
  }

  nav ul li a {
    display: block;
    text-align: center;
    padding: 1rem;
  }

  nav ul li a:hover {
    background-color: #57a773;
    color: #fff;
    display: block;
    text-align: center;
  }

  nav ul.hide {
    display: flex;
  }

  #directory.gridview {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  #directory.gridview div {
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    padding: 1rem;
  }

  #directory.gridview div h4 {
    margin-top: 0;
  }

  #directory.gridview div a img {
    max-width: 20rem;
  }

  #directory.listview div {
    display: grid;
    grid-template-columns: 2fr 1fr 3fr;
  }

  #directory.listview div img {
    max-width: 30rem;
  }
}
