html {
    background-color: #e7f3ff;
}
main {
    background-color: white;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    border-radius: 0.33rem;
}

h1 {
    color: #0a2472;
    border-bottom: 1px solid #0e6ba8;
    padding-bottom: 1rem;
}

#todos {
    list-style-type: none;
    padding-left: 0;
}

#todos li {
    padding: 0.25rem;
}

#todos li input[type=checkbox] {
    transform: scale(2.5);
    margin: 0.5rem 1rem;
}

#todos li button {
    float: right;
}

#controls {
    border-top: 1px solid #0e6ba8;
    padding-top: 1rem;
    padding-left: 1rem;
}

#newTodoForm {
    margin: 2rem;
}

#newTodoForm input {
    padding: .75rem;
}

@media print {
    #newTodoForm, #controls, button {
        display: none;
    }

}